/* Toolbar area */
.toolbar-wrapper {
  min-height: 64px;
}
.toolbar-wrapper .search {
  background-color: #f5f5f5;
}
.toolbar-wrapper .main-img {
  margin: auto 20px;
}
.toolbar-wrapper .search  {
  margin: 12px 0;
}
.toolbar-wrapper .search input {
  width: 100%;
  border: none;
  outline: none;
  color: #212121;
  background: none;
}
.toolbar-wrapper .search md-icon {
  fill: rgba(0,0,0,0.54);
  margin: 8px 24px 0;
  vertical-align: top;
}

/* Sections */
section.section-cards {
  margin-top: 20px;
}
section.section-cards md-card {
  margin: 0;
  border-radius: 0px;
}
section.section-cards a {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    cursor: auto;
}
section.section-cards md-card md-card-content {
  padding: 8px;
}
section.section-cards md-card md-card-content h2 {
  margin: 0;
  margin-bottom: 10px;
}
section.section-cards md-card-content span {
  margin-bottom: 8px;
  font-size: 13px;
}
section.section-cards .card-content .data {
  margin: 0;
  vertical-align: middle;
}
section.section-cards .card-content .data span {
  line-height: 41px;
}
section.section-cards md-content div[flex="50"] {
  padding: 15px; 
}

/* Responsive */
@media (max-width: 1800px) {
  section.section-cards md-card {
    margin: 10px;
  }
}
@media (max-width: 1200px) {
  section.section-cards md-card {
    margin: 1px;
    margin-bottom: 10px;
  }
}
@media (max-width: 990px) {
  section.section-cards .md-card-img {
    display: block;
    width: 100%;
  }
  section.section-cards md-card {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
