/* Toolbar area */

md-toolbar img {
  margin: auto;
}

/* Sections */
section.section-info {
  background-color: #fbfbfb;
}
section.section-info .flex-70 {
  margin: 0 auto;
}
section.section-info .products {
  padding-top: 80px;
}
section.section-info .products .main-img {
  margin: 0 auto;
}
section.section-info .wrapper {
  margin: 0 auto;
  padding-top: 40px;
}
section.section-info .wrapper .main-header {
  text-align: center;
}
section.section-info .wrapper .main-header h1 {
  font-weight: 100;
  font-size: 52px;
}
section.section-info .login-fields md-input-container {
  padding-bottom: 0px;
}
section.section-info .login-fields .md-button {
  border-radius: 0px;
  margin: 0;
  margin-top: 35px;
}

/* Responsive */
@media (max-width: 990px) {
  section.section-info .products .main-img img {
      display: block;
      width: 100%;
  }
  section.section-info .products {
    padding-top: 50px;
  }
  section.section-info .wrapper .main-header h1 {
    font-weight: 100;
    font-size: 32px;
  }
  .md-card-img {
    display: block;
    width: 100%;
  }
}