html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
html {
  height: auto;
}
#content {
    margin: auto;
}
section.soon {
    text-align: center;
    padding: 35px;
    background-color: #fafafa;
    margin: auto;
    border-radius: 0px;
}
section.soon h1 {
    margin: 0;
    font-weight: 100;
    font-size: 52px;
}