<md-toolbar layout="row" class="md-whiteframe-z1 md-default-theme">
  <div flex=10 layout="row" class="back-icon">
    <md-button aria-label="hu2" href="#/home">
      <md-icon md-svg-src="src/svg/arrow-left-bold.svg"></md-icon>
    </md-button>
  </div>
  <div flex=80 layout="row" class="logo">
    <img src="src/img/arkmeds_logo.png" alt="">
  </div>
  <div flex=10></div>
</md-toolbar>

<md-content flex layout="column" id="content">
  <section flex layout="row" class="section-detail">
    <div flex=60 class="section-wrapper" layout="column">
      <md-card flex class="md-default-theme md-whiteframe-z3">
        <md-card-content layout="column">
          <h2 flex=40 class="md-title">{{ device.name }}</h2>
          <div flex=60 layout="row" class="data">
          </div>
        </md-card-content>
      </md-card>
    </div>
  </section>
</md-content>